In [223]:
import pandas as pd
# import train test split
from sklearn.model_selection import train_test_split
import torch

df = pd.read_csv("Car details v3.csv")
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [224]:
df["engine"]=df["engine"].str.split(" ", expand=True)[0]
df["max_power"]=df["max_power"].str.split(" ", expand=True)[0]
df["mileage"]=df["mileage"].str.split(" ", expand=True)[0]

In [225]:
len(df["name"].unique())

2058

In [226]:
df = df.drop("name", axis=1)
df = df.drop("torque", axis=1)

In [227]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           8128 non-null   int64
 1   selling_price  8128 non-null   int64
 2   km_driven      8128 non-null   int64
 3   fuel           8128 non-null   object
 4   seller_type    8128 non-null   object
 5   transmission   8128 non-null   object
 6   owner          8128 non-null   object
 7   mileage        7907 non-null   object
 8   engine         7907 non-null   object
 9   max_power      7913 non-null   object
 10  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(7)
memory usage: 698.6+ KB

In [228]:
# convert mileage, engine, max_power to float
df["mileage"] = df["mileage"].astype(float)
df["engine"] = df["engine"].astype(float)

In [229]:
df[df["max_power"] == ''] = 0
df["max_power"] = df["max_power"].astype(float)

In [230]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           8128 non-null   int64
 1   selling_price  8128 non-null   int64
 2   km_driven      8128 non-null   int64
 3   fuel           8128 non-null   object
 4   seller_type    8128 non-null   object
 5   transmission   8128 non-null   object
 6   owner          8128 non-null   object
 7   mileage        7907 non-null   float64
 8   engine         7907 non-null   float64
 9   max_power      7913 non-null   float64
 10  seats          7907 non-null   float64
dtypes: float64(4), int64(3), object(4)
memory usage: 698.6+ KB

In [231]:
# fill missing values
df["engine"] = df["engine"].fillna(df["engine"].mean())
df["max_power"] = df["max_power"].fillna(df["max_power"].mean())
df["mileage"] = df["mileage"].fillna(df["mileage"].mean())
df["seats"] = df["seats"].fillna(df["seats"].mean())

In [232]:
y

0       13.017003
1       12.821258
2       11.970350
3       12.323856
4       11.775290
          ...
8123    12.676076
8124    11.813030
8125    12.853176
8126    12.577636
8127    12.577636
Name: selling_price, Length: 8127, dtype: float64

In [207]:
y = df["selling_price"]
import numpy as np
y = np.log(y)
df = df.drop("selling_price", axis=1)

C:\Users\bernd\anaconda3_neu\envs\torch_etc\lib\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [208]:
df.head()

,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,2014,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0
1,2014,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,2006,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0
3,2010,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0
4,2007,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0

In [209]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          8128 non-null   int64
 1   km_driven     8128 non-null   int64
 2   fuel          8128 non-null   object
 3   seller_type   8128 non-null   object
 4   transmission  8128 non-null   object
 5   owner         8128 non-null   object
 6   mileage       8128 non-null   float64
 7   engine        8128 non-null   float64
 8   max_power     8128 non-null   float64
 9   seats         8128 non-null   float64
dtypes: float64(4), int64(2), object(4)
memory usage: 635.1+ KB

In [210]:
to_remove=df[df["fuel"]==0].index
df=df.drop(to_remove)
y = y.drop(to_remove)

In [211]:
# convert categorical data to numerical data with sklearn LabelEncoder
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
for col in df.columns:
    if df[col].dtype == "object":
        df[col] = encoder.fit_transform(df[col])
df.head()

,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,2014,145500,1,1,1,0,23.40,1248.0,74.00,5.0
1,2014,120000,1,1,1,2,21.14,1498.0,103.52,5.0
2,2006,140000,3,1,1,4,17.70,1497.0,78.00,5.0
3,2010,127000,1,1,1,0,23.00,1396.0,90.00,5.0
4,2007,120000,3,1,1,0,16.10,1298.0,88.20,5.0

In [212]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df = scaler.fit_transform(df)
df = pd.DataFrame(df)
df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.048076,1.338369,-0.889488,0.277626,0.385186,-0.666517,0.999862,-0.423983,-0.495642,-0.440134
1,0.048076,0.887437,-0.889488,0.277626,0.385186,0.970716,0.432131,0.079073,0.339595,-0.440134
2,-1.931462,1.241110,1.106334,0.277626,0.385186,2.607949,-0.432027,0.077060,-0.382467,-0.440134
3,-0.941693,1.011223,-0.889488,0.277626,0.385186,-0.666517,0.899379,-0.126174,-0.042939,-0.440134
4,-1.684019,0.887437,1.106334,0.277626,0.385186,-0.666517,-0.833961,-0.323372,-0.093868,-0.440134

In [213]:
#df = df[:1000]
#y = y[:1000]

In [214]:
x_train, x_test, y_train, y_test = train_test_split(df, y, test_size=0.2, random_state=42)
x_train = torch.tensor(x_train.values, dtype=torch.float)
x_test = torch.tensor(x_test.values, dtype=torch.float)
y_train = torch.tensor(y_train.values, dtype=torch.float)
y_test= torch.tensor(y_test.values, dtype=torch.float)

In [240]:
class MySimpleNN(torch.nn.Module):   # MySimpleNN erbt von torch.nn.Module

    # Konstruktor
    def __init__(self):
        # Aufruf des Superkonstruktors von torch.nn.Module
        super(MySimpleNN, self).__init__()
        # Definition der Schichten

        # fc1 --> fully connected layer 1 von 10 auf 70 Neuronen
        # warum 12? --> 12 Features
        self.fc1 = torch.nn.Linear(10, 300)
        # fc2 --> fully connected layer 2 von 70 auf 120 Neuronen
        self.fc2 = torch.nn.Linear(300, 500)
        # fc3 --> fully connected layer 3 von 120 auf 30 Neuronen
        self.fc3 = torch.nn.Linear(500, 30)
        # fc4 --> fully connected layer 4 von 30 auf 1 Neuronen
        # Warum 1 Neuron? --> 1 Output, wir lesen da den Alkoholgehahlt aus
        self.fc4 = torch.nn.Linear(30, 1)

        # Batch Normalization
        # 70, 120, 30 sind die Anzahl der Neuronen in den Schichten
        self.bn1 = torch.nn.BatchNorm1d(300)
        self.bn2 = torch.nn.BatchNorm1d(500)
        self.bn3 = torch.nn.BatchNorm1d(30)

    # forward Methode -> Forward Propagation
    # wenn ich später ein Objekt von MySimpleNN erzeuge, dann kann ich
    # dieses Objekt mit einem Tensor aufrufen, dann wird die forward Methode
    # aufgerufen. z.B. model(x_train)
    def forward(self, xb):   # xb steht für eine Batch von X-Werten
        #print("xb", xb.shape)
        z2 = self.fc1(xb)  # dahinter steckt x@w1 + b1
        a2 = torch.relu(z2)    # alle negativen Werte werden auf 0 gesetzt, der Rest bleibt
        #print("a2", a2.shape)
        a2_bn = self.bn1(a2) # Normalisierung der Werte auf den Neuronen
        #print("a2_bn", a2_bn.shape)
        z3 = self.fc2(a2_bn) # dahinter steckt a2@w2 + b2
        #print("z3", z3.shape)
        a3 = torch.relu(z3)
        #print("a3", a3.shape)
        a3_bn = self.bn2(a3)
        #print("a3_bn", a3_bn.shape)
        z4 = self.fc3(a3_bn)
        #print("z4", z4.shape)
        a4 = torch.relu(z4)
        #print("a4", a4.shape)
        a4_bn = self.bn3(a4)
        #print("a4_bn", a4_bn.shape)
        y_hat = torch.relu(self.fc4(a4_bn))
        #print("y_hat", y_hat.shape)
        return y_hat

In [241]:
def get_batch(x, y, batch_size):
    # z.B. range(0, 10, 3) --> 0, 3, 6, 9
    # range(start, stop, step)
    for i in range(0, len(x), batch_size):
        # yield: gibt den Wert zurück, aber merkt sich den aktuellen Zustand
        yield x[i:i+batch_size], y[i:i+batch_size]

In [242]:
xb, yb = next(get_batch(x_train, y_train, batch_size=100))
model = MySimpleNN()
print(model(xb))

tensor([[0.5122],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.6929],
        [0.3521],
        [1.0006],
        [0.1134],
        [0.2048],
        [0.3702],
        [0.0000],
        [0.2626],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.0047],
        [0.0000],
        [0.0000],
        [0.1974],
        [0.0000],
        [0.0000],
        [0.1307],
        [0.2887],
        [0.0052],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.4452],
        [0.0000],
        [0.0447],
        [0.2197],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.0633],
        [0.0000],
        [1.3444],
        [0.0000],
        [0.2626],
        [0.0000],
        [0.4271],
        [0.0815],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.1536],
        [0.0000],
        [0.1105],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.9021],
        [0.0000],
        [0.0000],
        [0.5521],
        [0.0000],
        [0.1081],
        [0.0515],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.7707],
        [0.0000],
        [0.0000],
        [0.4132],
        [0.0000],
        [0.9812],
        [0.5840],
        [0.0000],
        [1.2385],
        [0.5471],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.2390],
        [0.0000],
        [0.0000],
        [1.5075],
        [0.0000],
        [0.0000],
        [1.4978],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.1313],
        [0.0000],
        [0.0000],
        [0.0000],
        [0.0000]], grad_fn=<ReluBackward0>)

In [ ]:
# eigenes Modell wird erstellt
model = MySimpleNN()
lr=0.0001
# trainiere immer mit 10 Datensätzen auf einmal
batch_size=256

# loss function
# Mean Squared Error
# die Lossfunction von Pytorch müssen erstmal erstellt werden mit ()
loss_fn = torch.nn.MSELoss()

def train(xb, yb):
    y_hat=model(xb)
    loss = loss_fn(y_hat, yb)
    loss.backward()
    with torch.no_grad():
        # Iteration über alle Parameter im Modell
        for param in model.parameters():
            # Backpropagation, d.h. die Veränderung der Gewichte in Abhängigkeit der Ableitung
            param -= lr * param.grad
        # Alle Gradients im Modell werden auf 0 gesetzt
        model.zero_grad()
    return loss.item()

losses=[]
# import tqdm notebook
from tqdm.notebook import tqdm
for epoch in tqdm(range(200)):
    loss_sum=0
    # Iteration über alle Batches
    for xb, yb in get_batch(x_train, y_train, batch_size):
        loss_sum += train(xb, yb)
    losses.append(loss_sum/len(x_train))

#plot
import matplotlib.pyplot as plt
plt.plot(losses)

  0%|          | 0/200 [00:00<?, ?it/s]

In [ ]:
xb, yb = next(get_batch(x_train, y_train, batch_size=100))
y_preds=model(xb)
for i in range(10):
    print("Vorhersage:", np.exp(y_preds[i].item()), "Tatsächlicher Wert:", np.exp(yb[i].item()))

In [234]:
# testen des Modells
x_test_preds=model(x_test)

# abweichung der Vorhersage vom tatsächlichen Wert
diff=torch.abs(x_test_preds-y_test)
print("Durchschnittliche Abweichung:", torch.mean(diff).item())

Durchschnittliche Abweichung: 2.638356924057007